.faq-container {
  background: linear-gradient(to bottom, #dbeafe, #eff6ff, #ffffff);
  justify-content: center;
  align-content: center;
}

/* .faq {
  margin-left: 3%;
  margin-right: 3%;
} */

.faq-sub-container {
  /* margin-top: 3%; */
  background-color: #ffffff;
  /* border-radius: 20px;
  padding: 20px; */
}

.faq-header {
  /* color: #223c61;
  font-size: 50px;
  font-weight: bold;
  text-align: center; */
}

.faq-subheader {
  color: #4b5563;
  font-size: 24px;
  padding-bottom: 1%;
  text-align: center;
}

.faq-questions {
  padding: 4%;
}

.faq-questions-content {
  background-color: #dbeafe;
  margin: 10px 0;
  padding: 15px;
  min-height: 25px;
  border-radius: 4px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.question-text {
  font-size: 18px;
  font-weight: bold;
  color: #223c61;
}

.dropdown-arrow {
  cursor: pointer;
  font-size: 30px;
  background-color: #223c61;
  color: white;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.3s ease;
}

.dropdown-arrow.rotate {
  transform: rotate(90deg);
}

.dropdown-answer {
  background-color: #f9fafb;
  padding: 10px;
  margin-top: 5px;
  border-radius: 4px;
  font-size: 16px;
  color: #4b5563;
}
